@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,800;1,800&display=swap');

*{
    
    color: white;
    margin: 0;
    padding: 0;
}

.centraliza{
    display: flex;
    justify-content: center;
    align-items: center;
}


#imgLuis{
    
    z-index: 1;
    float: left;
    top: 5%;
    left: 3%;
}
#projetos{
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; 
    background-color:#e4142c ;
    border: 5px solid white;
    border-radius: 10px;
    height: 50px;
    width: 300px;
    text-align: center;
    z-index: 2;
    position: absolute;
    top: 48%;

}

#imgPartido{
    position: absolute;
    left: 65%;
    top: 1%;
}

#ideais{
    display: flex;
    justify-content: space-between; /* Centraliza horizontalmente */
    align-items: center; 
    background-color: #e4142c;
    width: 90%;
    height: 20vh;
    padding-left: 5%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;  
    font-size: 14px;

}

.Box{
    height: 90px;
    width: 90px;
    border: 3px solid white;
    border-radius: 10px;
}

#biografia{
    font-family: 'Asap', sans-serif;
    padding: 5%;
}

#slogan{
    font-family: 'Montserrat', sans-serif; 
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    font-size: 25px;
    text-align: center;
}

#modal{
    position: absolute;
    z-index: 3;
    border: 3px solid white;
    width: 90%;
    left: 5%;
    background-color: #e4142c;
    text-align: center;
    display: none;

}


#modal p{
    font-family: 'Asap', sans-serif;
    font-size: 100%;
}

#modal h2{
    font-family: 'Montserrat', sans-serif; 
    font-size: 40px;
}