@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,800;1,800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*{
    
    color: white;
    margin: 0px;
    padding: 0px;
    
}



.centraliza{
    display: flex;
    justify-content: center;
    align-items: center;
}


#imgLuis{
    
    z-index: 1;
    float: left;
    top: 5%;
    left: 3%;
}
#projetos{
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; 
    background-color:#e4142c ;
    border: 5px solid white;
    border-radius: 10px;
    height: 50px;
    width: 300px;
    text-align: center;
    z-index: 2;
    position: absolute;
    top: 48%;

}

#imgPartido{
    position: absolute;
    left: 65%;
    top: 1%;
}

#ideais{
    display: flex;
    justify-content: space-between; /* Centraliza horizontalmente */
    align-items: center; 
    background-color: #e4142c;
    width: 90%;
    height: 20vh;
    padding-left: 5%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;  
    font-size: 14px;

}

.Box{
    height: 90px;
    width: 90px;
    border: 3px solid white;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Montserrat', sans-serif; 
    font-size: 12px;
}

#biografia{
    font-family: 'Asap', sans-serif;
    padding-left: 5%;
    padding-right: 5%;
}

#slogan{
    font-family: 'Montserrat', sans-serif; 
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    font-size: 25px;
    text-align: center;
}

.btnModal{
    background-color: #e4142c;
    border: 2px solid white; 
    font-family: 'Montserrat', sans-serif;
}

.btnVejaMais{
  margin-top: auto; 
  background-color: #e4142c; 
  border: #e4142c; 
  font-family: 'Montserrat', sans-serif;
  color: white;
}


.wrapper {
  display: inline-flex;
  list-style: none;
}

.wrapper .icon {
  position: relative;
  background: #e4142c;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877F2;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1DA1F2;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #E4405F;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background: #CD201F;
  color: #ffffff;
}

ul{
    padding-left: 0px;
}

.desktop-view{
    display: none;
}


@media only screen and (min-width: 769px) {
    .desktop-view {
        display: block;
    }
    .mobile-view{
        display: none;
    }
    
}


